  <div class="div4" id="div4 ">
        <div class="icon1 " style="direction: rtl; ">
            <i class="fa fa-wifi " style="font-size: 50px; color: #4CAF50; "></i>
            <div class="milenia-icon-box-content light ">
                <h2 style="color: white; font: 400 40px sans-serif; direction: rtl;">בחינם Wi-Fi</h2>
                <div style="color: white; font: 400 20px sans-serif; direction: rtl;">
                    אינטרנט אלחוטי חינם למכשירים הניידים שלך ומחשבים משותפים לנוחיותך.
                </div>
            </div>
        </div>
        <div class="icon2 " style="direction: rtl; ">
            <i class="fa fa-cutlery " style="font-size: 50px; color: #4CAF50; "></i>
            <div class="milenia-icon-box-content light ">
                <h2 style="color: white; font: 400 40px sans-serif; direction: rtl;">מטבח מאובזר במלואו</h2>
                <div style="color: white; font: 400 20px sans-serif; direction: rtl;">
                    לאכול אוכל במסעדה יכול להיות יקר אז בישלו ארוחות משלכם במטבח שלנו :)
                </div>
            </div>
        </div>

        <div class="icon3 " style="direction: rtl; ">
            <i class="fa fa-sun-o " style="font-size: 50px; color:#4CAF50; "></i>
            <div class="milenia-icon-box-content light ">
                <h2 style="color:white; font: 400 40px sans-serif; direction: rtl;">גג שטוף שמש עם נוף של 30° מעלות!</h2>
                <div style="color: white; font: 400 20px sans-serif; direction: rtl;">
                    חלל הגג הענק שלנו הוא המקום המושלם להירגע וליהנות מנוף פנורמי פתוח .
                </div>
            </div>
        </div>
    </div>
