<div id="div2" class="abus-container">
    <div>
        <div class="aboutUs-lineTite">
            <h2 class="aboutUsTite animated animatedFadeInUp fadeInUp">עלינו</h2>
            <h2 class="lineOrange"></h2>
        </div>
    </div>
    <div class="row">
        <img class="usimg" src="aboutus.jpg">
        <div class="col">
            <h1 class="cardTitle">מי אנחנו</h1>
            <div class="lineBlack"></div>
            <h4 class="cardText"> החצר מזמינה לנשום אויר הרים צלול, להתפעל מהנוף ומשקיעות מרהיבות המשרות שלווה אינסופית.

                בחצר המטופחת והירוקה גן רחב, גפנים מטפסים ועצי פרי.וגם יש לנו בריכה פנימית פתוחה לכל האורחים שלנו .

                בקיצור, כל מה שצריך לחופשה מושלמת - שולחן פינג-פונג, פינת ברביקיו, פינות ישיבה, פרגולות מוצלות, אינטרנט
                ללא עלות ועוד.

            </h4>
        </div>
    </div>
</div>
<app-icons-div></app-icons-div>